#overall{
    display: flex;
    align-items: center;
    background-color: rgb(53, 53, 53);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    height: 250px;
}
.photo{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    display: flex; 
    justify-content: center; 
}
.search-photo{
    height: 90%;
    border-radius: 50%;
}
@media screen and (max-width: 770px){
    .search-photo{
        height: 70%;
    }
}
@media screen and (max-width: 380px){
    .search-photo{
        height: 50%;
    }
}